[b-hover] {
  transition: 0.25s ease-in-out;
}

[b-hover*="zoom"]:hover {
  transform: scale(1.125);
}

/* Back Color Changes */
[b-hover*="back-primary"]:hover {
  background-color: var(--primary) !important;
}

[b-hover*="back-danger"]:hover {
  background-color: var(--danger) !important;
}

[b-hover*="back-success"]:hover {
  background-color: var(--success) !important;
}

[b-hover*="back-dark"]:hover {
  background-color: var(--text) !important;
}

[b-hover*="back-warning"]:hover {
  background-color: var(--warning) !important;
}

[b-hover*="back-light"]:hover {
  background-color: var(--background) !important;
}

[b-hover*="back-none"]:hover {
  background-color: transparent !important;
}

/* Color Changes */
[b-hover*="color-primary"]:hover {
  color: var(--primary) !important;
}

[b-hover*="color-danger"]:hover {
  color: var(--danger) !important;
}

[b-hover*="color-success"]:hover {
  color: var(--success) !important;
}

[b-hover*="color-dark"]:hover {
  color: var(--text) !important;
}

[b-hover*="color-warning"]:hover {
  color: var(--warning) !important;
}

[b-hover*="color-light"]:hover {
  color: var(--background) !important;
}

[b-hover*="color-none"]:hover {
  color: transparent !important;
}